<!D0CTYPE html>
<html ng-app="MyProfileApp">
  <head>
  <meta charset="utf-8">
    <title>Vaibhav Mathur</title>
 		<link rel=" stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
  </head>

<body  ng-controller="PostsCtrl">

  <div class="outer-container-div">
    <div style="margin:0px;" class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div style="padding:20px;" class="inner-container-div1">
          <div style="margin:0px;" class="row">
            <div class="col-md-8">
              <div class="usc-logo-container">
                <img style="" src="images/usc_logo.jpg">
              </div>
              <p style="font-family: monospace;font-size: 50px;font-weight: 100;color: rgb(65, 81, 102);margin-top: 30px;">Vaibhav Mathur</p>
              <p style="letter-spacing: 1px;color: gray;font-weight: bold;font-size: 15px;">Graduate Student at University of Southern California</p>
              <p style="letter-spacing: 1px;color: gray;font-weight: bold;font-size: 15px;">Software Developer Intern at Panasonic Avionics Corporation, Lake Forest, CA.</p>
              <div style="margin:0px;" class="row">
                <p style="letter-spacing: 1px;color: rgb(112, 107, 107);font-weight: bold;font-size: 12px;"><i class="fa fa-home"></i>&nbsp;2707 Portland St Apt 202, Los Angeles, CA – 90007&nbsp;&nbsp;<i class="fa fa-envelope">&nbsp;vaibhavm@usc.edu</i>&nbsp;&nbsp;<i class="fa fa-phone"></i>&nbsp;858-860-4693&nbsp;</p>
              </div>
            </div>
            <!-- <div class="col-md-1"></div> -->
            <div class="col-md-4">
              <div class="profile-image-container">
                <img style="margin:10px auto; height: 300px;" src="images/vaibhab_mathur.jpg">
              </div>
            </div>
          </div>
        </div>
        <div style="padding:20px; margin:10px auto;" class="inner-container-div2">
          <div style="margin:0px;" class="row">
            <div style="box-shadow: 4px 3px 7px 0px rgba(7, 7, 7, 0.19); padding:2px; margin: 5px auto;" class="col-md-12">
              <ul style="background-color:#f9f9f1; color: black; font-size:13px;" class="inbox-nav nav nav-pills nav-justified">
                <li class="active"><a id="navlink1" href="#" class="navlink">Home</a></li>
                <li><a id="navlink2" href="#" class="navlink">Education</a></li>
                <li><a id="navlink3" href="#" class="navlink">Work Experience</a></li>
                <li><a id="navlink4" href="#" class="navlink">Project</a></li>
                <li><a id="navlink5" href="#" class="navlink">Extra</a></li>
              </ul>
            </div>
          </div>
          <div style="margin:0px;" class="row">
            <div style="border:1px solid #eee8e8; padding:2px; margin: 5px auto;" class="col-md-12">
              <div style="padding:50px;">
                <center><h2>Content to go here....</h2></center>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
  <script src="//code.angularjs.org/1.2.16/angular-animate.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-resource.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.9.0.js"></script>
  <script src="javascripts/test.js"></script>
  <script src="javascripts/testService.js"></script>
</body>

 
</html>